.input-form.section(data-section="input-form")
  .wrap
    .section__subtitle Список запчастей
  ._wrap.wrap
    ._label Номер запчасти
    ._input-wrap
      input(type="text")._input
      ._quest-wrap
        ._quest-mark ?
        ._question-wrap(data-type="search")
      button._btn.btn поиск