// Fonts
$base-font: 'Roboto', sans-serif;
$title-font: 'TecoSans', sans-serif;
$base-font-size: 16px;

$vk-color: #3e5c7f;
$fb-color: #344874;
$in-color: #007cb7;
$tg-color: #297ba6;
$wa-color: #277e1c;
$vb-color: #614278;

$txt-color: #231f20;
$btn-color: #ffc20e;
$span-color: #00a8d4;

$yellow: #ffc20e;