.comparison-box
    .comparison(data-status="closed")
        ._head
            ._head-title Сравнение
            ._head-count Добавлено 5 товаров
            ._close(data-action="comparison")
                +svg('cross')
        ._content
            ._list.scrollbar-inner
                ._item
                    img(src="img/comparison-1.jpg")._item-photo
                    ._item-info
                        ._item-type Датчик избыточного давления
                        ._item-name Rosemount 3051TG
                    ._delete
                        +svg('cross', 'comparison__item-delete')
                ._item
                    img(src="img/comparison-2.jpg")._item-photo
                    ._item-info
                        ._item-type Датчик избыточного давления
                        ._item-name Метран-150TGR
                    ._delete
                        +svg('cross', 'comparison__item-delete')
                ._item
                    img(src="img/comparison-3.jpg")._item-photo
                    ._item-info
                        ._item-type Датчик избыточного давления
                        ._item-name СУЭР-100 ДИ
                    ._delete
                        +svg('cross', 'comparison__item-delete')
                ._item
                    img(src="img/comparison-1.jpg")._item-photo
                    ._item-info
                        ._item-type Датчик избыточного давления
                        ._item-name Rosemount 3051TG
                    ._delete
                        +svg('cross', 'comparison__item-delete')
                ._item
                    img(src="img/comparison-2.jpg")._item-photo
                    ._item-info
                        ._item-type Датчик избыточного давления
                        ._item-name Метран-150TGR
                    ._delete
                        +svg('cross', 'comparison__item-delete')
                ._item
                    img(src="img/comparison-3.jpg")._item-photo
                    ._item-info
                        ._item-type Датчик избыточного давления
                        ._item-name СУЭР-100 ДИ
                    ._delete
                        +svg('cross', 'comparison__item-delete')
            ._footer
                .btn._btn Перейти к сравнению