.modal#configurate-no-complete
    ._dialog
        ._content
            .configurate-no-complete
                ._cross(data-role="modal-close")
                    +svg('cross')
                ._text Конфигурация строки не завершена, выбраны не все обязательные опции для модели -
                    br/
                    b вентильный блок 0306
                .btn._btn(data-role="modal-close") Вернуться к заполнению