footer.footer.section
    ._wrap.wrap
        ._row
            ._group
                ._group-title О компании
                ._nav-list
                    a(href="#")._nav-link О нас
                    a(href="#")._nav-link Контакты
                    a(href="#")._nav-link Доставка
            ._group
                ._group-title Полезная информация
                ._nav-list
                    a(href="#")._nav-link Раздел номер один
                    a(href="#")._nav-link Раздел номер два
                    a(href="#")._nav-link Раздел номер три
                    a(href="#")._nav-link Раздел номер четыре
                    a(href="#")._nav-link Раздел номер пять
        ._row
            ._group
                ._group-title Каталог
                ._nav-list
                    a(href="#")._nav-link АСУТП
                    a(href="#")._nav-link Давление
                    a(href="#")._nav-link Уровень
                    a(href="#")._nav-link Температура
                    a(href="#")._nav-link Средства коммуникации
                    a(href="#")._nav-link Функционнальная аппартура
                    a(href="#")._nav-link Аналитика
                    a(href="#")._nav-link Клапаны, регуляторы
                    a(href="#")._nav-link Вибродиагностика
                    a(href="#")._nav-link Смотеть весь каталог
        ._row
            ._group
                ._group-title Партнёрам
                ._nav-list
                    a(href="#")._nav-link Наши партнеры
                    a(href="#")._nav-link Условия партнерства
                    a(href="#")._nav-link Проектные институты
            ._group
                ._group-title Решения
                ._nav-list
                    a(href="#")._nav-link Решение номер 1
                    a(href="#")._nav-link Второе решение длиннее
                    a(href="#")._nav-link Третие решение
                    a(href="#")._nav-link Решение номер четыре
                    a(href="#")._nav-link Пятое решение  длинне
        ._row.-contacts
            ._group.-contacts
                ._group-title Контакты
                ._contacts
                    ._company-name ООО «Системы Управления ЭнергоРесурсами»
                    ._contacts-slider
                        ._contacts-nav-btn(data-footer-contacts-nav="prev")
                            +svg('angle-left')
                        ._contacts-slider-container.swiper-container(data-slider="footer-contacts")
                            ._contacts-slider-wrapper.swiper-wrapper
                                ._contacts-slide.swiper-slide
                                    ._contacts-value
                                        +svg('map-marker-full', 'footer__map-marker-icon')
                                        | г. Новосибирск
                                    a(href="tel:89382991913")._contacts-value
                                        +svg('phone-full', 'footer__phone-icon')
                                        | +7 (383) 299-19-13
                                    a(href="mailto: zakaz@suer.ru")._contacts-value
                                        +svg('mail-full', 'footer__mail-icon')
                                        | zakaz@suer.ru
                                ._contacts-slide.swiper-slide
                                    ._contacts-value
                                        +svg('map-marker-full', 'footer__map-marker-icon')
                                        | г. Москва
                                    a(href="tel:89382991913")._contacts-value
                                        +svg('phone-full', 'footer__phone-icon')
                                        | +7 (383) 299-19-13
                                    a(href="mailto: zakaz@suer.ru")._contacts-value
                                        +svg('mail-full', 'footer__mail-icon')
                                        | zakaz@suer.ru
                        ._contacts-nav-btn(data-footer-contacts-nav="next")
                            +svg('angle-right')
                    .social-list._social
                        a(href="#")._item.-whatsapp
                            +svg('whats-app')
                        a(href="#")._item.-viber
                            +svg('viber')
                        a(href="#")._item.-telegram
                            +svg('telegram')
                        a(href="#")._item.-vk
                            +svg('vk')
                        a(href="#")._item.-facebook
                            +svg('facebook')
        ._column
            ._copyright ©2018 ООО “СУЭР”. Все права защищены.
        ._top-btn(data-scroll-to="body")
            +svg('angle-up', 'footer__angle-up-icon')