.partners.section
    ._wrap.wrap
        .section__title Партнёры
        .section__desc Мы сотрудничаем с ключевыми брендами на нашем рынке. Также как
            br/ выбранный нами инновационный путь, в своем классическом
            br/ представлении, допускает внедрение модели развития.
        ._slider.wow.fadeIn
            ._nav-btn.-prev(data-partners-nav="prev")
                +svg('arrow-left', 'partners__arrow-left-icon')
            ._slider-container.swiper-container(data-slider="partners")
                ._slider-wrapper.swiper-wrapper
                    ._slide.swiper-slide
                        img(src="img/metran.png" alt="Логотип Метран")._item-img
                        img(src="img/rosemount.png" alt="Логотип Rosemount")._item-img
                        img(src="img/emerson.png" alt="Логотип Emerson")._item-img
                    ._slide.swiper-slide
                        img(src="img/endress-hauser.png" alt="Логотип Endress+Hauser")._item-img
                        img(src="img/fuji-electric.png" alt="Логотип Fuji Electric")._item-img
                        img(src="img/honeywell.png" alt="Логотип Honeywell")._item-img
                    ._slide.swiper-slide
                        img(src="img/yokogawa.png" alt="Логотип Yokogawa")._item-img
                        img(src="img/npk-vip.png" alt="Логотип НПК ВИП")._item-img
                        img(src="img/elemer.png" alt="Логотип Элемер")._item-img
                    ._slide.swiper-slide
                        img(src="img/jumo.png" alt="Логотип Jumo")._item-img
                        img(src="img/rosneft.png" alt="Логотип Роснефть")._item-img
                        img(src="img/gazprom.png" alt="Логотип Газпром Нефть")._item-img
                    ._slide.swiper-slide
                        img(src="img/metran.png" alt="Логотип Метран")._item-img
                        img(src="img/rosemount.png" alt="Логотип Rosemount")._item-img
                        img(src="img/emerson.png" alt="Логотип Emerson")._item-img
                    ._slide.swiper-slide
                        img(src="img/endress-hauser.png" alt="Логотип Endress+Hauser")._item-img
                        img(src="img/fuji-electric.png" alt="Логотип Fuji Electric")._item-img
                        img(src="img/honeywell.png" alt="Логотип Honeywell")._item-img
                    ._slide.swiper-slide
                        img(src="img/yokogawa.png" alt="Логотип Yokogawa")._item-img
                        img(src="img/npk-vip.png" alt="Логотип НПК ВИП")._item-img
                        img(src="img/elemer.png" alt="Логотип Элемер")._item-img
                    ._slide.swiper-slide
                        img(src="img/jumo.png" alt="Логотип Jumo")._item-img
                        img(src="img/rosneft.png" alt="Логотип Роснефть")._item-img
                        img(src="img/gazprom.png" alt="Логотип Газпром Нефть")._item-img
            ._nav-btn.-next(data-partners-nav="next")
                +svg('arrow-right', 'partners__arrow-right-icon')