doctype html
html
    include ../elements/common/head/head
    +head('СУЭР — производитель приборов собственного бренда', 'Page description', 'Page keywords')
    body

        include ../elements/common/header/header
        include ../elements/common/header/header-mobile
        include ../elements/index/banner/banner
        include ../elements/index/filter/filter
        include ../elements/index/fast-help/fast-help
        include ../elements/index/solutions/solutions
        include ../elements/common/compare/compare
        include ../elements/index/catalog/catalog
        include ../elements/index/consultation/consultation
        include ../elements/index/partners/partners
        include ../elements/index/search-panel/search-panel
        include ../elements/index/useful-info/useful-info
        include ../elements/index/consultation/consultation-v2
        include ../elements/common/seo/seo
        include ../elements/common/footer/footer

        include ../elements/index/search-modal/search-modal
        script(src="js/libs.min.js")
        script(src="js/custom.js")