doctype html
html
    include ../elements/common/head/head
    +head('СУЭР — производитель приборов собственного бренда', 'Page description', 'Page keywords')
    body

        include ../elements/common/header/header_card
        include ../elements/common/header/header-mobile
        include ../elements/common/fixed-bar/fixed-bar
        include ../elements/item-card/info/info
        include ../elements/item-card/navbar/navbar
        include ../elements/item-card/infotext/infotext
        include ../elements/item-card/input-form/input-form
        include ../elements/item-card/list/list
        include ../elements/item-card/func/func
        include ../elements/item-card/optional/optional
        include ../elements/item-card/solutions/solutions
        include ../elements/item-card/alike/alike
        include ../elements/item-card/text-block/text-block
        include ../elements/item-card/configurate-no-complete/configurate-no-complete
        include ../elements/common/tooltip-modal/tooltip-modal

        include ../elements/common/footer/footer

        script(src="js/libs.min.js")
        script(src="js/custom.js")