doctype html
html
    include ../elements/common/head/head
    +head('СУЭР — производитель приборов собственного бренда', 'Page description', 'Page keywords')
    body

        include ../elements/common/header/header_card
        include ../elements/common/header/header-mobile
        include ../elements/common/fixed-bar/fixed-bar
        include ../elements/result/res/res
        include ../elements/common/compare/compare
        include ../elements/common/seo/seo
        include ../elements/common/tooltip-modal/tooltip-modal

        
        include ../elements/common/footer/footer

        script(src="js/libs.min.js")
        script(src="js/custom.js")