.banner.section
    ._slider
        ._nav
            ._nav-container.wrap
                ._nav-btn.-prev(data-banner-nav="prev")
                    +svg('arrow-left')
                ._nav-btn.-next(data-banner-nav="next")
                    +svg('arrow-right')
        ._container.swiper-container(data-slider="banner")
            ._wrappper.swiper-wrapper
                ._slide.swiper-slide
                    ._wrap.wrap
                        ._slide-info
                            ._slide-title Суэр — производитель
                                br/ приборов собственного бренда
                            ._slide-desc Мы специализируемся на решениях по автоматизации для
                                bt/ промышленных предприятий, включая поставку КИП, АСУТП,
                                bt/ аналитического оборудования и запорно-регулирующей арматуры.
                            .btn.-contour-white._slide-btn Подробнее
                        ._slide-device
                            img(src="img/device.png")._slide-device-img
                            img(src="img/device-shadow.png")._slide-device-shadow
                        .btn.-contour-white._slide-mobile-btn Подробнее
                ._slide.-white.swiper-slide(data-slide-color="white")
                    ._wrap.wrap
                        ._slide-info
                            ._slide-title Суэр — производитель
                                br/ приборов собственного бренда
                            ._slide-desc Мы специализируемся на решениях по автоматизации для
                                bt/ промышленных предприятий, включая поставку КИП, АСУТП,
                                bt/ аналитического оборудования и запорно-регулирующей арматуры.
                            .btn.-contour-white._slide-btn Подробнее
                        ._slide-device
                            img(src="img/device.png")._slide-device-img
                            img(src="img/device-shadow.png")._slide-device-shadow
                        .btn.-contour-white._slide-mobile-btn Подробнее
                ._slide.swiper-slide
                    ._wrap.wrap
                        ._slide-info
                            ._slide-title Суэр — производитель
                                br/ приборов собственного бренда
                            ._slide-desc Мы специализируемся на решениях по автоматизации для
                                bt/ промышленных предприятий, включая поставку КИП, АСУТП,
                                bt/ аналитического оборудования и запорно-регулирующей арматуры.
                            .btn.-contour-white._slide-btn Подробнее
                        ._slide-device
                            img(src="img/device.png")._slide-device-img
                            img(src="img/device-shadow.png")._slide-device-shadow
                        .btn.-contour-white._slide-mobile-btn Подробнее
                ._slide.swiper-slide
                    ._wrap.wrap
                        ._slide-info
                            ._slide-title Суэр — производитель
                                br/ приборов собственного бренда
                            ._slide-desc Мы специализируемся на решениях по автоматизации для
                                bt/ промышленных предприятий, включая поставку КИП, АСУТП,
                                bt/ аналитического оборудования и запорно-регулирующей арматуры.
                            .btn.-contour-white._slide-btn Подробнее
                        ._slide-device
                            img(src="img/device.png")._slide-device-img
                            img(src="img/device-shadow.png")._slide-device-shadow
                        .btn.-contour-white._slide-mobile-btn Подробнее
                ._slide.swiper-slide
                    ._wrap.wrap
                        ._slide-info
                            ._slide-title Суэр — производитель
                                br/ приборов собственного бренда
                            ._slide-desc Мы специализируемся на решениях по автоматизации для
                                bt/ промышленных предприятий, включая поставку КИП, АСУТП,
                                bt/ аналитического оборудования и запорно-регулирующей арматуры.
                            .btn.-contour-white._slide-btn Подробнее
                        ._slide-device
                            img(src="img/device.png")._slide-device-img
                            img(src="img/device-shadow.png")._slide-device-shadow
                        .btn.-contour-white._slide-mobile-btn Подробнее
        .banner-ctrl.section
            ._wrap.wrap
                ._slider-container.swiper-container(data-thumb-slider="banner")
                    ._slider-wrapper.swiper-wrapper
                        ._item.-active.swiper-slide
                            +svg('production-cogs')
                            ._item-title Собственное
                                br/ производство
                        ._item.swiper-slide
                            +svg('handshake')
                            ._item-title Работаем
                                br/ с ключевыми
                                br/ брендами
                        ._item.swiper-slide
                            +svg('filter')
                            ._item-title Умный фильтр
                        ._item.swiper-slide
                            +svg('certificate')
                            ._item-title Вся продукция
                                br/ сертифицированна
                        ._item.swiper-slide
                            +svg('box')
                            ._item-title Собственные
                                br/ склады
                                br/ в 4 городах