.label#navbarLabel(data-section="info")
.infotext.section
  ._wrap.wrap
    ._col
      h3._col-title Зачем он нужен?
      ._col-txt.
        Описание в несколько предложений в каких отраслях применяется данный 
        прибор и тд Генерация рыбатекста происходит довольно просто: есть несколько 
        фиксированных наборов фраз и словочетаний, из которых в определенном порядке 
        формируются предложения. Предложения складываются в абзацы
      ._col-btn Подробнее
    ._col
      h3._col-title Комплектация поставки
      ._col-txt.
        Описание в несколько предложений в каких отраслях применяется данный 
        прибор и тд Генерация рыбатекста происходит довольно просто: есть несколько 
        фиксированных наборов фраз и словочетаний, из которых в определенном порядке 
        формируются предложения. 
      ._col-btn Подробнее