.list.section(data-section="list")
  ._wrap.wrap
    ._header
      ._title Перечень
      +svg('angle-up', 'list__up-svg')
    ._footer
      button._find-btn.btn последний поиск
      button._stock-btn.btn.btn_contour список отобранных запчастей