.props__wrapper
    .props.-product.-right.hidden-props
        +svg('close', 'props__close-svg')
        ._header
            ._btn(data-role="select") Выделить все
            ._btn(data-role="clear") Отменить все
        ._scroll.scrollbar-inner
            ._body
                ._col
                    ._list
                        ._list-item
                            label(for="props-check-13")._checkbox
                                input(type="checkbox" name="props-check")#props-check-13._checkbox-real
                                ._checkbox-fake
                                    +svg('checked', 'props__check-svg')
                                ._checkbox-text Emerson:
                            ._num (7)
                        ._list-item
                            label(for="props-check-14")._checkbox
                                input(type="checkbox" name="props-check")#props-check-14._checkbox-real
                                ._checkbox-fake
                                    +svg('checked', 'props__check-svg')
                                ._checkbox-text Endress+Hauser:
                            ._num (5)
                        ._list-item
                            label(for="props-check-15")._checkbox
                                input(type="checkbox" name="props-check")#props-check-15._checkbox-real
                                ._checkbox-fake
                                    +svg('checked', 'props__check-svg')
                                ._checkbox-text Fuji:
                            ._num (2)
                        ._list-item
                            label(for="props-check-16")._checkbox
                                input(type="checkbox" name="props-check")#props-check-16._checkbox-real
                                ._checkbox-fake
                                    +svg('checked', 'props__check-svg')
                                ._checkbox-text Honeywell:
                            ._num (2)
                        ._list-item
                            label(for="props-check-17")._checkbox
                                input(type="checkbox" name="props-check")#props-check-17._checkbox-real
                                ._checkbox-fake
                                    +svg('checked', 'props__check-svg')
                                ._checkbox-text Yokogawa:
                            ._num (2)
                        ._list-item
                            label(for="props-check-18")._checkbox
                                input(type="checkbox" name="props-check")#props-check-18._checkbox-real
                                ._checkbox-fake
                                    +svg('checked', 'props__check-svg')
                                ._checkbox-text НПК ВИП:
                            ._num (13)
                        ._list-item
                            label(for="props-check-19")._checkbox
                                input(type="checkbox" name="props-check")#props-check-19._checkbox-real
                                ._checkbox-fake
                                    +svg('checked', 'props__check-svg')
                                ._checkbox-text Метран:
                            ._num (5)
                    ._btn(data-role="show") Показать все
                    ._list.-lower.hidden
                        ._list-item
                            label(for="props-check-27")._checkbox
                                input(type="checkbox" name="props-check")#props-check-27._checkbox-real
                                ._checkbox-fake
                                    +svg('checked', 'props__check-svg')
                                ._checkbox-text Emerson:
                            ._num (7)
                        ._list-item
                            label(for="props-check-28")._checkbox
                                input(type="checkbox" name="props-check")#props-check-28._checkbox-real
                                ._checkbox-fake
                                    +svg('checked', 'props__check-svg')
                                ._checkbox-text Endress+Hauser:
                            ._num (5)
                        ._list-item
                            label(for="props-check-29")._checkbox
                                input(type="checkbox" name="props-check")#props-check-29._checkbox-real
                                ._checkbox-fake
                                    +svg('checked', 'props__check-svg')
                                ._checkbox-text Fuji:
                            ._num (2)
        ._footer
            ._footer-btn.-left
                +svg('arrow-left', 'props__arrow')
            button._footer-btn-find.btn Найти
            ._footer-btn.-right
                +svg('arrow-right', 'props__arrow')
