.navbar.-fixed.section
  ._wrap.wrap
    ._navlist
      a(href="#" data-url="info")._navitem.-active Описание
      a(href="#" data-url="input-form")._navitem Список запчастей
      a(href="#" data-url="list")._navitem Перечень
      a(href="#" data-url="func")._navitem Функции
      a(href="#" data-url="optional")._navitem Дополнительное оборудование
      a(href="#" data-url="solutions")._navitem Решения
      a(href="#" data-url="alike")._navitem Вам могут подойти
      ._nav-active