.search-panel.section
    ._wrap.wrap
        ._content
            h3._title.section__subtitle.section__subtitle_white Быстрый подбор аналогов
            ._content-txt Подберите аналог прибора со 100% соответствием.
        ._search-group
            ._input-group
                label(for="quick-search")._placeholder Введите строку заказа
                input(type="text" id="quick-search")._input
            button.btn._btn Подобрать аналог