.solutions.section
    ._wrap.wrap
        .section__title Готовые решения на базе
            br/ предлагаемого нами оборудования
        .section__desc Типовые решение и подробное описание этих решений Также как
            br/ выбранный нами инновационный путь, в своем классическом
            br/ представлении, допускает внедрение модели развития.
        ._slider.wow.fadeIn
            ._slider-nav
                ._slider-nav-btn.-prev(data-solutions-nav="prev")
                    +svg('arrow-left', 'solutions__arrow-left-icon')
                ._slider-nav-btn.-next(data-solutions-nav="next")
                    +svg('arrow-right', 'solutions__arrow-right-icon')
            ._slider-container.swiper-container(data-slider="solutions")
                ._slider-wrapper.swiper-wrapper
                    ._slide.swiper-slide
                        ._item-wrap
                            a(href="#")._item
                                ._link
                                    img(src="img/solutions-1.jpg")._item-photo
                                ._item-info
                                    ._item-title На базе датчиков давления
                                    ._item-desc Основные среды: пар, природный и попутный нефтянной газ, вода...
                                    ._item-more Смотреть решение
                    ._slide.swiper-slide
                        ._item-wrap
                            a(href="#")._item
                                ._link
                                    img(src="img/solutions-2.jpg")._item-photo
                                ._item-info
                                    ._item-title На базе датчиков давления и температуры
                                    ._item-desc Измерение уровня с помощью выносных сенсоров
                                    ._item-more Смотреть решение
                    ._slide.swiper-slide
                        ._item-wrap
                            a(href="#")._item
                                ._link
                                    img(src="img/solutions-1.jpg")._item-photo
                                ._item-info
                                    ._item-title На базе расходомеров
                                    ._item-desc Коммерческий учет и распределительные узлы
                                    ._item-more Смотреть решение
                    ._slide.swiper-slide
                        ._item-wrap
                            a(href="#")._item
                                ._link
                                    img(src="img/solutions-2.jpg")._item-photo
                                ._item-info
                                    ._item-title На базе датчиков давления и температуры
                                    ._item-desc Измерение уровня с помощью выносных сенсоров
                                    ._item-more Смотреть решение
                    ._slide.swiper-slide
                        ._item-wrap
                            a(href="#")._item
                                ._link
                                    img(src="img/solutions-1.jpg")._item-photo
                                ._item-info
                                    ._item-title На базе датчиков давления
                                    ._item-desc Основные среды: пар, природный и попутный нефтянной газ, вода...
                                    ._item-more Смотреть решение
                    ._slide.swiper-slide
                        ._item-wrap
                            a(href="#")._item
                                ._link
                                    img(src="img/solutions-2.jpg")._item-photo
                                ._item-info
                                    ._item-title На базе датчиков давления и температуры
                                    ._item-desc Измерение уровня с помощью выносных сенсоров
                                    ._item-more Смотреть решение
                    ._slide.swiper-slide
                        ._item-wrap
                            a(href="#")._item
                                ._link
                                    img(src="img/solutions-1.jpg")._item-photo
                                ._item-info
                                    ._item-title На базе расходомеров
                                    ._item-desc Коммерческий учет и распределительные узлы
                                    ._item-more Смотреть решение
                    ._slide.swiper-slide
                        ._item-wrap
                            a(href="#")._item
                                ._link
                                    img(src="img/solutions-2.jpg")._item-photo
                                ._item-info
                                    ._item-title На базе датчиков давления и температуры
                                    ._item-desc Измерение уровня с помощью выносных сенсоров
                                    ._item-more Смотреть решение
            ._pagination
                ._pagination-item.-active
                ._pagination-item
                ._pagination-item
        a(href="#").btn.-contour.-big._btn Смотреть все решения